---
import Hero from '../../../components/Hero.astro';
import  Layout  from '../../../layouts/Layout.astro'

---
<Layout>

<Hero>Filaberta</Hero>
<div class="">
    <a href="/kittens">Back</a>
    <a href="/contact">Contact us</a>
</div>


</Layout>